.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 10;
  background-color: hsl(var(--clr-white));
}

.bottom button {
  font-size: var(--fs-100);
  font-weight: 500;
  border-radius: 8px;
}

.back {
  color: hsl(var(--clr-neutral-cool-gray), 0.85);
  transition: color 0.35s ease-in;
}

.go-next > button {
  padding: 0.75rem 1.5rem;
  background-color: hsl(var(--clr-primary-marine-blue));
  color: hsl(var(--clr-white));
  outline: none;
  transition: background-color 0.35s ease-in;
}

#confirm {
  background-color: hsl(var(--clr-primary-purplish-blue));
}

@media screen and (min-width: 768px) {
  .bottom {
    position: static;
    flex-grow: 2;
    align-items: flex-end;
    padding: 1rem 0 0.5rem;
  }

  .go-next > button:hover {
    background-color: hsl(var(--clr-primary-marine-blue), 0.75);
  }

  .back {
    margin-block-end: 0.75rem;
  }

  .back:hover {
    color: hsl(var(--clr-primary-marine-blue));
  }
}
