.navigation {
  min-height: 172px;
  align-items: flex-start;
  background: url(../../assets/icons/bg-sidebar-mobile.svg) no-repeat center;
  background-size: cover;
}

.navigation-list {
  gap: 1rem;
  margin: 2rem auto 0;
}

@media screen and (min-width: 768px) {
  .navigation {
    min-height: 500px;
    min-width: 200px;
    border-radius: 8px;
    padding: 2rem;
    background-image: url(../../assets/icons/bg-sidebar-desktop.svg);
  }

  .navigation-list {
    gap: 2rem;
    margin: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    min-width: 250px;
    padding: 2.5rem 2rem;
  }
}
